<h1> Hi from Users#new </h1>

<%= form_with(model: @user, data: {turbo: false}) do |f| %>
  <%= f.label :username, 'username:' %>
  <br/>
  <%= f.text_field :username, {placeholder: UsersController::USERNAME_PLACEHOLDER} %>
  <br/>
  <%= f.label :email, 'e-mail:' %>
  <br/>
  <%= f.text_field :email, {placeholder: UsersController::EMAIL_PLACEHOLDER} %>
  <br/>
  <%= f.label :password, 'password:' %>
  <br/>
  <%= f.password_field :password, {placeholder: UsersController::PASSWORD_PLACEHOLDER} %>
  <br/>
  <br/>
  <%= f.submit 'Create user account' %>
<% end %>
